# Ignore using .min.css into [wp_default_styles][cms/wp-includes/script-loader.php]
# Ignore using .min.css into [wp_default_scripts][cms/wp-includes/script-loader.php]
!cms/wp-includes/script-loader.php
